.svg-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-svg {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
}

.bg {
    stroke: #ccc;
}

.animate {
    stroke: #3498db;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: dash 1.5s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 283;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
